<% if @routine.present? %>
  <% if @routine.errors.any? %>
    <% @routine.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new routine
</h1>


<hr>

<form action="/create_routine" method="post">

  <input type="hidden" name="customer_id" value="<%= current_customer.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create routine
  </button>
</form>

<hr>

<a href="/routines">
  Go back
</a>
