<h1>
  Add a new routine
</h1>


<hr>

<!-- Form routine start -->
<form action="/create_routine" method="post">
<!-- Form routine end -->

  <!-- Label and input for customer_id start -->
  <!-- Input for "customer_id" start -->
  <input type="hidden" name="customer_id" value="<%= current_customer.id %>">
  <!-- Input for "customer_id" end -->
  <!-- Label and input for customer_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create routine
  </button>
</form>

<hr>

<a href="/routines">
  Go back
</a>
